<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Introduction</title>
    <link rel="stylesheet" href="/public/style.css">
</head>
<body>
    <H1>SHASHANK SONI</H1>
    <H2>FULL (MERN) STACK DEVLOPER </H2>

    it's Shashank Soni
</body>
</html>