<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Introduction</title>
    <link rel="stylesheet" href="/public/style.css">
</head>
<body>
    <H1>SHASHANK SONI</H1>
    <H2>FULL (MERN) STACK DEVLOPER </H2> <hr>
    <H3>SUMMERY</H3>
    <p>I'm currently pursuing a B-Tech in Electronics and Communication with a focus on Computer Science Engineering, 
        skilled in web development, with problem-solving and analytical abilities, 
        actively seeking opportunities to get an intern in MERN Stack Development. 
    </p> <hr>   
    <H3>EDUCATION</H3>
    <ul>
        <li>B-Tech (EC) | Chameli Devi Group of Institutions 				2022-2026</li>
        <li>XII (CBSE) | Shree Kasera Bazar Vidya Niketan 				2021-2022 </li>
        <li>X (CBSE) | Shree Kasera Bazar Vidya Niketan 				2019-2020</li>
    </ul>
    <hr>
    <H3>SKILLS</H3>
    <P>	
        <B>Technical:</B>Technical: HTML, CSS, JavaScript, Java (Basic), SQL, NoSQL, React.  <br>
        <B>Developer Tools:</B>Developer Tools: MongoDB, MySQL, VS code.<br>
        <B>Technologies/Framework:</B> Node.js, Express.js, Bootstrap, GitHub, Git.<br>
    </P>
    <H3>EXPERINCE</H3>
</body>
</html>