
/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

html {
    background-color: #0f172a;
    overscroll-behavior: none;
}

body {
    background-color: #0f172a;
    overscroll-behavior: none;
    min-height: 100vh;
}

#root {
    min-height: 100vh;
    background-color: #0f172a;
}

@import "tailwindcss";

html {
  scroll-behavior: smooth;
  background-color: #0f172a;
  overscroll-behavior: none;
}
