* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

:root {
    --color-primary: #191d2d;
    --color-secondary: #27ae60;
    --color-white: #ffffff;
    --color-black: #000:
    --color-grey0: #ffffff;

}

body {
    font-family: 'poppins', sans-serif;
}